:root {
  --Piece-tile-length: min(3vh, 4.5vw);
  --Piece-tileInner-length: 90%;
}

.Piece-tile {
  width: var(--Piece-tile-length);
  height: var(--Piece-tile-length);
}

.Piece-tileInner {
  width: var(--Piece-tileInner-length);
  height: var(--Piece-tileInner-length);
  border-radius: 2px;
}